apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: ping-pong-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      securityContext:
        runAsUser: 0 # set to use root permissions to be able to write files
      #volumes:
      #- name: shared-pingpong-amount
      #  persistentVolumeClaim:
      #    claimName: ping-pong-amount-pvclaim
      containers:
      - name: ping-pong-app
        image: EXERCISES/PING-PONG-APP-IMAGE
        #volumeMounts:
        #  - name: shared-pingpong-amount
        #    mountPath: /usr/src/app/files
        env:
        - name: PORT
          value: "3001"

