apiVersion: batch/v1
kind: CronJob
metadata:
  namespace: project
  name: hourly-todo-cronjob
spec:
  schedule: "0 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: hourly-todo-cronjob
            image: juhanikat/post-todo:o
            imagePullPolicy: IfNotPresent
            command: 
            - /bin/sh
            - -c
            - ./post-todo.sh


          restartPolicy: OnFailure