apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todo-backend-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      securityContext:
        runAsUser: 0 # set to use root permissions to be able to write files
      volumes:
      - name: config-volume
        configMap:
          name: todo-backend-configmap
      priorityClassName: high-priority-nonpreempting
      containers:
      - name: todo-backend
        image: TODO-PROJECT/BACKEND-IMAGE
        volumeMounts:
        - name: config-volume
          mountPath: "/usr/src/app/config"
          readOnly: true
        env:
        - name: PORT
          value: "3001"
        - name: POSTGRES_USER
          valueFrom:
            configMapKeyRef:
              name: todo-backend-configmap
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: todo-backend-configmap
              key: POSTGRES_PASSWORD
        - name: POSTGRES_HOST
          valueFrom:
            configMapKeyRef:
              name: todo-backend-configmap
              key: POSTGRES_HOST
        - name: POSTGRES_DATABASE
          valueFrom:
            configMapKeyRef:
              name: todo-backend-configmap
              key: POSTGRES_DATABASE