name: Delete matching Kubernetes namespace when branch is deleted

on:
  delete:
    branches:
      - '**'

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: europe-north1-b
  REGISTRY: europe-north1-docker.pkg.dev
  FRONTEND_REPOSITORY: my-repository
  BACKEND_REPOSITORY: todo-backend-repository
  FRONTEND_IMAGE: todo-app
  BACKEND_IMAGE: todo-backend
  BRANCH: ${{ github.ref_name }}

  
jobs:
  delete-environment:
      name: Delete matching Kubernetes namespace when branch is deleted
      if: github.event.ref_type == 'branch'
      runs-on: ubuntu-latest
      environment: main-env
  
      steps:
        - name: 'Checkout'
          uses: actions/checkout@v4

        - name: 'Authenticate'
          uses: google-github-actions/auth@v2
          with:
            credentials_json: '${{ secrets.GKE_SA_KEY }}'

        - name: 'Set up Cloud SDK'
          uses: google-github-actions/setup-gcloud@v2
  
        - name: 'Use gcloud CLI'
          run: gcloud info
  
        - name: 'Get GKE credentials'
          uses: 'google-github-actions/get-gke-credentials@v2'
          with:
            cluster_name: '${{ env.GKE_CLUSTER }}'
            project_id: '${{ env.PROJECT_ID }}'
            location: '${{ env.GKE_ZONE }}'

        - name: 'Delete namespace'
          run: |
            echo 'This step will wait until everything inside the namespace is terminated, so it might take a while.'
            if [ "${{ github.event.ref }}" == "main" ]; then
              kubectl delete namespace project || true
            else
              kubectl delete namespace ${{ github.event.ref }} || true
            fi
